.imageButton {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #96d701;
  border-color: #c3e6e0;
  outline: none;
  box-shadow: none!important;
}

.imageButton:active,
.imageButton:focus,
.imageButton:hover {
  background-color: #ff7d01 !important;
  border-color: #c3e6e0 !important;
}

.homeTitle {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  text-align: left;
}

.titleText {
  font-family: Yellowtail;
  font-size: 80px;
  color: #ffcd00;
}

.subscribeForm {
  justify-content: center;
  align-items: center;
}

.mindMail {
  font-size: medium;
  text-align: left;
}

.homepage {
  padding-bottom: 210px;
  padding-top: 80px;
  height: 100vh;
}
