.quote1 {
  height: 60vh;
  width: 100%;
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #00a73e;
  overflow-y: scroll;
}

.quote1Image {
  width: 150px;
  height: 150px;
}