.articles {
  width: 100%;
  background-color: #c3e6e0;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #28696d;
  overflow-y: scroll;
}

.articleImage {
  position: relative;
}

.mainImage {
  height: 200px;
}

.textCard {
  top: 100%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -10%);
  -ms-transform: translate(-80%, -10%);
}

.card-title {
  font-size: 20px;
}

.card-text {
  font-size: 14px;
}

.articleFooter {
  font-size: 12px;
  color: #ff7d01;

  a {
    color: #ff7d01;
  }
}

.morePosts {
  position: relative;
  margin-top: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #96d701;
  border-color: #c3e6e0;
}

.morePosts:hover,
.morePosts:active,
.morePosts:focus {
  background-color: #ff7d01 !important;
  border-color: #c3e6e0;
}
