.articles {
  width: 100%;
  background-color: #c3e6e0;
  padding: 120px !important;
  color: #28696d;
  overflow-y: scroll;
}

.articleImage {
  position: relative;
}

.mainImage {
  height: 200px;
}

.textCard {
  top: 100%;
  left: 50%;
  min-height: 275px;
  width: 80%;
  transform: translate(-50%, -10%);
  -ms-transform: translate(-80%, -10%);
}

.mainArticleCard {
  .card-body {
    min-height: 250px;
  }

  .card-text {
    max-height: 150px;
  }
}

.card-title {
  font-size: 18px;
  font-weight: 400px;
}

.card-text {
  font-size: 14px;
  max-height: 150px;
  overflow-y: scroll;
}

.articleFooter {
  bottom: 17px;
  color: #ff7d01;
  font-size: 12px;
  float: bottom;
  position: absolute;
  text-align: center;
  width: 80%;

  a {
    color: #ff7d01;
  }
}

.morePosts {
  position: relative;
  top: 50%;
  background-color: #96d701;
  border-color: #c3e6e0;
  box-shadow: none !important;
}

.lessPosts {
  position: relative;
  top: 50%;
  background-color: #96d701;
  border-color: #c3e6e0;
  box-shadow: none !important;
}

.hidden {
  display: none;
}

.morePosts:hover,
.morePosts:active,
.morePosts:focus,
.lessPosts:hover,
.lessPosts:active,
.lessPosts:focus {
  background-color: #ff7d01 !important;
  border-color: #c3e6e0;
}
