.dante {
  width: 100vh;
  color: white;
  overflow-y: scroll;
  padding-left: 230px;
  padding-top: 70px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

.public-DraftEditorPlaceholder-root {
  background-color: transparent;
  color: white;
}

.inlineTooltip-button {
  svg {
    vertical-align: unset;
  }
}
