.dante {
  width: 100vh;
  color: white;
  overflow-y: scroll;
  padding-left: 230px;
  padding-top: 70px;
  margin-bottom: 20px;
  overflow-x: scroll;
  padding-bottom: 200px;
}

.public-DraftEditorPlaceholder-root {
  background-color: transparent !important;
  color: white !important;
}

.inlineTooltip-button {
  svg {
    vertical-align: unset;
  }
}

.graf--mixtapeEmbed {
  color: white;
} 
