$primary-color: "#ff7d01";
@import 'loaders.css/src/animations/semi-circle-spin.scss';

.dante {
  width: 100vh;
  color: white;
  overflow-y: scroll;
  padding-left: 230px;
  padding-top: 70px;
  margin-bottom: 20px;
  overflow-x: scroll;
  padding-bottom: 200px;
}

.public-DraftEditorPlaceholder-root {
  background-color: transparent !important;
  color: white !important;
}

.inlineTooltip-button {
  svg {
    vertical-align: unset;
  }
}

.graf--mixtapeEmbed {
  color: white;
} 

.publish-button {
  position: relative;
  background-color: #96d701;
  border-color: #c3e6e0;
  box-shadow: none !important;
}

.publish-button:hover,
.publish-button:active,
.publish-button:focus
{
  background-color: #ff7d01 !important;
  border-color: #c3e6e0;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader-inner {
  top: 50%;
  position: absolute;
  left: 50%;
}
