.read-body {
  font-size: 24px !important;
  margin-top: 40px;
  margin-bottom: 100px;
}

.public-DraftEditorPlaceholder-root {
  background-color: transparent !important;
  color: white !important;
}
